@redHorbito: #ff2153;
@redHorbitoHover: #f81d4e;
@redHorbitoActive: #e51846;
@grayHorbito: #51575f;
@grayHorbitoHover: #474d54;
@grayHorbitoActive: #42464d;

*{
  font-family: 'Lato';
  letter-spacing: 0.02em;
}

input, textarea{
  background: #f0f0f0;
}

.hide{
  display: none;
}

.popup{
  display: inline-block !important;
}

.wz-view.uploading .post-new-card, .wz-view.uploading .cancel-new-card{
  opacity: 0.5;
}

.new-card-section.with-attach.four{
  .new-card-textarea{
    height: 110px;
  }
}

.new-card-section.with-attach.three{
  .new-card-textarea{
    height: 93px;
  }
}

.new-card-section.with-attach.two{
  .new-card-textarea{
    height: 112px;
  }
}

.new-card-section.with-attach.one{
  .new-card-textarea{
    height: 145px;
  }
}

.new-card-section{

  width: 529px;
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  .new-card-header{
    float: left;
    width: ~'calc(100% - 38px)';
    background-color: #fff;
    border-bottom: 1px solid #e2e6e8;
    padding: 18px 19px 21px 19px;
    height: 48px;
  }

  .new-card-cosmos{
    float: left;
    font-size: 21px;
    color: @redHorbito;
    font-weight: 900;
  }


  .new-card-title{

    float: left;
    font-size: 17px;
    color: #889399;
    margin-top: 12px;
    width: 461px;

  }

  .new-card-title i{

    color: #545f65;
    font-weight: bold;
    margin-right: 4px;

  }

  .new-card-title figure{

    color: @redHorbito;
    font-weight: bold;
    display: inline;
    margin-left: 4px;
    max-width: 329px;

  }

  .new-card-avatar{

    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    margin-left: 24px;
    margin-top: 15px;

  }

  .new-card-input{
    float: left;
    margin-top: 15px;
    margin-left: 19px;
    width: 405px;
    color: #545f65;
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 8px;
    padding-top: 8px;
    height: 22px;
    background-color: #f0f0f0;
    border-radius: 6px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .new-card-textarea{

    float: left;
    margin-top: 10px;
    margin-left: 83px;
    width: 405px;
    height: 121px;
    color: #545f65;
    font-size: 15px;
    line-height: 25px;
    background-color: #f0f0f0;
    border-radius: 6px;
    font-weight: bold;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .close-new-card{

    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    background-color: transparent;
    cursor: pointer;

  }

  .close-new-card:hover{

    background-color: #e9edf2;

  }

  .close-new-card figure{

    float: left;
    width: 10px;
    height: 10px;
    background-image: url('@static/close-icons.png');
    background-size: 25px 14px;
    background-position: 10px -4px;
    opacity: 0.7;
    cursor: pointer;

  }

  .close-new-world:card figure{

    opacity: 1;

  }

  .close-new-card span{

    color: #889399;
    float: left;
    width: 30px;
    font-size: 13px;
    margin-left: 5px;
    opacity: 0.7;
    cursor: pointer;

  }

  .close-new-card:hover span{

    opacity: 1;

  }

  .attachments{

    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    cursor: pointer;
    left: 19px;
    bottom: -42px;
    transition: all 0.2s ease;

  }

  .attachments.with-attach{

    top: 1px;
    left: 32px;

  }

  .attachments:hover{

    background-color: rgba(0,0,0,0.05);

  }

  .attachments > i{

    float: left;
    width: 17px;
    height: 19px;
    background-image: url('@static/attach.png');
    background-size: 17px 19px;
    margin-left: 9px;
    margin-top: 8px;
    cursor: pointer;

  }

  .attachments figure{

    display: none;
    position: absolute;
    background-color: #e63c42;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: -6px;
    left: 21px;

  }

  .attachments figure > i{

    color: #fff;
    width: 100%;
    font-size: 11px;
    float: left;
    text-align: center;
    margin-top: 3px;
    font-weight: bold;

  }

  .attach-list{

    padding-left: 84px;
    padding-right: 22px;
    width: ~'calc(100% - 104px)';
    position: absolute;
    max-height: 140px;
    bottom: 54px;

    .list{
      max-height: 140px;
      padding-right: 10px;
    }

    .attachment{

      float: left;
      width: 100%;
      border-top: 1px solid transparent;
      padding-top: 8px;
      padding-bottom: 8px;

      .icon{

        float: left;
        width: 16px;
        height: 16px;
        background-size: 16px 16px;

      }

      .title{
        float: left;
        font-size: 13px;
        margin-left: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 280px;
      }

      .cancel-attachment{

        float: right;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
        width: 7px;
        height: 7px;
        background-image: url('@static/cancel-attach.png');
        background-size: 7px 7px;

      }


      .aux-title{
        float: right;
        width: 90px;
        font-size: 11px;
        color: #217cfa;
        padding-top: 3px;
        padding-bottom: 2px;
        display: none;
      }

    }

    .attachment:last-child{
      border-bottom: 1px solid #e5e9ea;
    }
  }

  .attach-select{

    position: absolute;
    left: 48px;
    bottom: 12px;
    width: 157px;
    height: 67px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border: solid 1px rgba(0,0,0,.15);
    z-index: 4;
    display: none;

  }

  .attach-select article{

    float: left;
    width: 100%;
    height: 50%;
    cursor: pointer;

  }

  .attach-select .inevio span{

    border-radius: 6px 6px 0 0;
    cursor: pointer;

  }

  .attach-select .pc span{

    border-radius: 0 0 6px 6px;
    cursor: pointer;

  }

  .attach-select article span{

    float: left;
    padding-left: 20px;
    width: ~'calc(100% - 20px)';
    line-height: 100%;
    font-size: 13px;
    color: #545f65;
    height: 33.5px;
    line-height: 33.5px;
    transition: all 0.2s ease;

  }

  .attach-select article:hover span{

    background-color: #f7f8fa;

  }

  .cancel-new-card{

    position: absolute;
    width: 89px;
  	height: 33px;
  	border-radius: 6px;
  	background-color: @grayHorbito;
    right: 165px;
    bottom: 10px;
    cursor: pointer;

  }

  .cancel-new-card:hover{
    background-color: @grayHorbitoHover;
  }

  .cancel-new-card:active{

    background-color: @grayHorbitoActive;

  }

  .cancel-new-card span{

    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin-top: 8px;
    cursor: pointer;

  }

  .post-new-card{

    position: absolute;
    width: 140px;
    height: 33px;
    border-radius: 6px;
    background-color: @redHorbito;
    right: 15px;
    bottom: 10px;
    cursor: pointer;

  }

  .post-new-card:hover{

    background-color: @redHorbitoHover;

  }

  .post-new-card:active{

    background-color: @redHorbitoActive;

  }

  .post-new-card span{

    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin-top: 8px;
    cursor: pointer;

  }

}

.loading-animation-container{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  display: none;
  z-index: 10;
}
